.tableContainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  border-color: var(--table-row-border-color);
}

.table thead {
  vertical-align: bottom;
}

.table th {
  padding: 0.5rem;
}

.table tbody {
  border-top: 2px solid var(--table-header-border-color);
}

.table td {
  border-bottom-width: 1px;
  padding: 0.5rem;
  border-color: inherit;
}

.table tr:hover td {
  background-color: var(--table-row-hover-background-color);
}

.pfp {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0.5rem;
  filter: grayscale(1.0);
  opacity: 0.6;
}

.characterRow:hover .pfp {
  filter: none;
  opacity: 1.0;
}

.channelName, .name {
  white-space: nowrap;
}

.channelName a {
  color: inherit;
}

.liveTag {
  margin: 0.5em;
}

.factionPill {
  margin-right: 0.25em;
}

.factionPill span {
  background-color: var(--faction-color-light);
  border-radius: 50rem;
  color: var(--theme-white);
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  padding: 0.35em 0.65em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.factionPill span:hover {
  background-color: var(--faction-color-light-hover);
}

@media (prefers-color-scheme: dark) {
  :root:not(:global(.light)):not(:global(.dark)) .factionPill span {
    background-color: var(--faction-color-dark);
  }

  :root:not(:global(.light)):not(:global(.dark)) .factionPill span:hover {
    background-color: var(--faction-color-dark-hover);
  }
}

:root:global(.dark) .factionPill span {
  background-color: var(--faction-color-dark);
}

:root:global(.dark) .factionPill span:hover {
  background-color: var(--faction-color-dark-hover);
}
