.grid {
  --grid-gutter-x: 1.5rem;
  --grid-gutter-y: 1.25rem;
}

.grid .items {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-gutter-x) * -0.5);
  margin-right: calc(var(--grid-gutter-x) * -0.5);
  margin-top: calc(var(--grid-gutter-y) * -1);
}

.grid .items > div {
  max-width: 100%;
  margin-top: var(--grid-gutter-y);
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.grid .items > div {
  width: 100%;
}

@media (min-width: 576px) {
  .grid .items > div {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .grid .items > div {
    width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .grid .items > div {
    width: 25%;
  }
}


.colorSwatch {
  display: inline-block;
  padding: 0.5em 0.5em;
  margin: 0.25em;
  border-radius: 4px;
}

.colorSwatch p {
  margin: 0;
  width: 4em;
}

.card, .picker {
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 1rem;
}

.info h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
