.content {
  flex-shrink: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
}

.header h3 {
  margin: 0;
  margin-right: auto;
}

.container {
  max-height: 100%;
  overflow-y: scroll;
}

.container > div {
  display: flex;
  flex-direction: row;
}

.streamerContainer {
  border-right: 1px solid var(--theme-gray-600);
  padding-top: 2.5rem;
}

.timelineContainer {
  position: relative;
  overflow-x: scroll;
  flex-grow: 1;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hourHeader {
  height: 1.5rem;
  position: relative;
}

.hourLabel {
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
}

.streamer, .streamerRow {
  height: 4rem;
}

.streamerRow {
  position: relative;
}

.segment {
  --segment-background-color: var(--theme-gray-300);
  --segment-overflow-background-color: var(--theme-gray-100);
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--segment-background-color);
  color: var(--theme-gray-600);
  border-radius: 0.25rem;
  overflow: hidden;
  min-width: var(--clamped-duration-width);
  transition: transform ease-in-out .2s;
}

.segment.live {
  --segment-background-color: var(--theme-gray-800);
  --segment-overflow-background-color: var(--theme-gray-600);
  color: var(--theme-white);
}

.segment:hover {
  right: auto !important;
  background-color: var(--segment-overflow-background-color);
  transform: scale(1.01) translate3d(0px, -1px, 0px);
  box-shadow: 0 15px 20px rgba(0,0,0,.01), 0 0 5px rgba(0,0,0,.1);
  z-index: 10;
}

.segment:hover:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--segment-background-color);
  width: var(--duration-width);
}

.segment.overlapLeft {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.segment:not(:hover).overlapRight,
.segment:not(:hover).live {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.segment.hidden .segmentContent {
  opacity: 0.6;
}

.segmentContent {
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.5rem;
  height: 100%;
}

.thumbnail {
  position: relative;
  border-radius: 0.125rem;
  overflow: hidden;
  height: 100%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hiddenOverlay {
  color: var(--const-theme-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hiddenOverlay svg {
  color: rgba(255,255,255,0.5);
  display: block;
  margin: auto;
  width: auto;
  height: 75%;
  aspect-ratio: 1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 1;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.tag.live {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--const-theme-white);
  background-color: var(--theme-red);
}

.segment p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.hourBars {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hourBar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid var(--theme-gray-200);
}

.hourBar.now {
  border-right: 1px solid var(--theme-red);
}
