.colorSwatch {
  display: inline-block;
  padding: 0.5em 0.5em;
  margin: 0.25em;
  border-radius: 4px;
}

.colorSwatch p {
  margin: 0;
  width: 4em;
}

.card, .picker {
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 1rem;
}

.info h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
